<!DOCTYPE html>
<html>
  <head>
  <style>
.quiz {
	text-align:center;
}
</style>
</head>
<body>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/w3css/3/w3.css">
<body>
<nav class="w3-bar w3-black">
  <a href="#home" class="w3-button w3-bar-item">Home</a>
  <a href="#quiz" class="w3-button w3-bar-item">Quiz</a>
  <a href="#Influential Women" class="w3-button w3-bar-item">Influential Women</a>
</nav>
<h2><center>Which female leader should be your role model, based on your interests?!</center></h2>
<a class="quiz" href="/quiz">Take The Quiz!</a>
</body>
</html>
</body>
</html>
