 <!DOCTYPE html> 
<html lang="en"> 
<head>
  <title> Influential Women Quiz </title>
  <style>
    
  </style>
</head>
<body>
  <h1><center> Welcome to the Influential Women Quiz</center></h1> 
  <form action="/results" method="post">
  <h1> What job intrests you the most?</h1>
  <input type="radio" name="job" value="5" > President<br>
  <input type="radio" name="job" value="10"> Software Engineer<br>
  <input type="radio" name="job" value="15"> Business Owner <br>
  <input type="radio" name="job" value="20"> Athlete<br>
  <input type="radio" name="job" value="25"> Preformer<br>
  <input type="radio" name="job" value="30"> Doctor<br>
  <input type="radio" name="job" value="35"> Grassroots organizier<br>
  <input type="radio" name="job" value="40"> Editor-in-chief<br>
<h1> What is your favorite subject </h1> 
<input type="radio" name="subject" value="5"> AP Gov<br>
  <input type="radio" name="subject" value="10"> Math<br>
  <input type="radio" name="subject" value="15"> Marketing<br>
  <input type="radio" name="subject" value="20"> P.E.<br>
  <input type="radio" name="subject" value="25"> Theater<br>
  <input type="radio" name="subject" value="30"> Biomeical<br>
  <input type="radio" name="subject" value="35"> Current Evetns<br>
  <input type="radio" name="subject" value="40"> Journalism<br>
  <h1> What is your faviorite afterschool Activity</h1>
  <input type="radio" name="activity" value="5"> Speech and debate<br>
  <input type="radio" name="activity" value="10"> Roboticts<br>
  <input type="radio" name="activity" value="15"> DECA <br>
  <input type="radio" name="activity" value="20"> Sports <br>
  <input type="radio" name="activity" value="25"> Showchoir<br>
  <input type="radio" name="activity" value="30"> Volunteer at hospital<br>
  <input type="radio" name="activity" value="35"> An equity group<br>
  <input type="radio" name="activity" value="40"> Newspaper<br>
  <h1>What is your faviorite televison show?</h1>
  <input type="radio" name="shows" value="5" > Meet the Press<br>
  <input type="radio" name="shows" value="10"> NASA TV<br>
  <input type="radio" name="shows" value="15"> Shark Tank <br>
  <input type="radio" name="shows" value="20" > ESPN<br>
  <input type="radio" name="shows" value="25"> Live theater/musicals<br>
  <input type="radio" name="shows" value="30"> Greys Anatomy<br>
  <input type="radio" name="shows" value="35"> Today Show/News<br>
  <input type="radio" name="shows" value="40"> Deadline Crime with Tameron Hall<br>
  <h1> How do you like to spend your freetime/hobbies?</h1>
  <input type="radio" name="hobbies" value="5" > Staying up to date on current events<br>
  <input type="radio" name="hobbies" value="10"> At Kode with Klossy<br>
  <input type="radio" name="hobbies" value="15"> Planning your startup <br>
  <input type="radio" name="hobbies" value="20" > At the gym<br>
  <input type="radio" name="hobbies" value="25"> Art museum<br>
  <input type="radio" name="hobbies" value="30"> Raising money for medical research<br>
  <input type="radio" name="hobbies" value="35"> Attending/planning a protest<br>
  <input type="radio" name="hobbies" value="40"> Writting short stories/interviewing people<br>
  <h1>What is your favorite movie?</h1>
   <input type="radio" name="movie" value="5" checked> JFK<br>
  <input type="radio" name="movie" value="10"> Hidden Figures<br>
  <input type="radio" name="movie" value="15"> Jobs <br>
  <input type="radio" name="movie" value="20" checked> The Blind Side<br>
  <input type="radio" name="movie" value="25"> La la Land<br>
  <input type="radio" name="movie" value="30"> Gifted Hands: The Ben Carson Story
 <br>
  <input type="radio" name="movie" value="35"> Selma<br>
  <input type="radio" name="movie" value="40"> The Post<br>  
</form> 


</body>
</html>